---
import BentoItem from "./BentoItem.astro";
---

<section
  class={`
    w-full max-w-[1400px]
    grid grid-cols-10 auto-rows-[35rem] gap-4
    mx-auto p-20    
    `}
>
  <BentoItem class="col-span-10 md:col-span-4" title="Mision" 
  >
  <div 
  slot="image" 
  class="absolute left-0 top-0 bottom-0 
  h-full w-full group-hover:scale-110 transition-scale duration-1000
  ease-in-out opacity-90 bg-no-repeat bg-blend-luminosity bg-center bg-cover
    -z-10   
  "
  style="background-image: url('/src/img/mision.jpg')"   

  >
  </div>
  <p slot="content" class="max-w-xl text-white">
    Brindar asesoría personalizada en inversiones inmobiliarias para ayudar a nuestros clientes a maximizar su potencial de retorno.
    Tener clientes satisfechos generando una relación de confianza que nos permita cubrir sus necesidades en bienes raíces con un servicio de calidad y profesionalismo.
    
  </p>  
  </BentoItem>
  <BentoItem class="col-span-6 md-col-span-6" title="Vision" >
    <div 
  slot="image" 
  class="absolute left-0 top-0 bottom-0 
  h-full w-full group-hover:scale-110 transition-scale duration-1000
  ease-in-out opacity-90 bg-no-repeat bg-blend-luminosity bg-center bg-cover
    -z-10   
  "
  style="background-image: url('https://talentozeus.com/hs-fs/hubfs/importancia%20la%20misi%C3%B3n%20y%20visi%C3%B3n%20de%20una%20empresa.jpg?width=658&height=439&name=importancia%20la%20misi%C3%B3n%20y%20visi%C3%B3n%20de%20una%20empresa.jpg')"   

  >
  </div>
    <p slot="content" class="max-w-xl text-white">
        Ser una inmobiliaria de referencia en asesoría y gestión de inversiones en bienes raíces. Buscamos empoderar a nuestros clientes con las mejores oportunidades de inversión, promoviendo un desarrollo sostenible y de largo plazo en el sector.
    </p>
  </BentoItem>
  <BentoItem class="col-span-10 md:col-span-6" title="Quienes Somos" >
    <div 
  slot="image" 
  class="absolute left-0 top-0 bottom-0 
  h-full w-full group-hover:scale-110 transition-scale duration-1000
  ease-in-out opacity-90 bg-no-repeat bg-blend-luminosity bg-center bg-cover
    -z-10   
  "
  style="background-image: url('https://www.anmys.com/g03/Quienes%20somos2_967.jpg')"   

  >
  </div>
    <p slot="content" class="max-w-xl text-white">
        En Hisu & Co., nos apasiona conectar a las personas con oportunidades únicas en el mundo inmobiliario. Somos una empresa comprometida con la excelencia, especializada en brindar asesoría personalizada para inversiones inmobiliarias. Nuestro objetivo es convertir sueños en realidades, ofreciendo soluciones adaptadas a las necesidades de nuestros clientes con profesionalismo, confianza y dedicación.    
    </p>
  </BentoItem>
  <BentoItem class="col-span-10 md:col-span-4" title="Nuestros valores" >
    <div 
  slot="image" 
  class="absolute left-0 top-0 bottom-0 
  h-full w-full group-hover:scale-110 transition-scale duration-1000
  ease-in-out opacity-90 bg-no-repeat bg-blend-luminosity bg-center bg-cover
    -z-10   
  "
  style="background-image: url('https://dkvintegralia.org/wp-content/uploads/valores-empresa_p.jpg')"   

  >
  </div>
    <p slot="content" class="max-w-xl text-white">
        En Hisu & Co., nos guiamos por principios que reflejan nuestro compromiso con la excelencia:

        Integridad: Actuamos con transparencia y honestidad en cada interacción.
        Excelencia: Superamos expectativas con un servicio de alta calidad.
        Innovación: Ofrecemos soluciones modernas y efectivas.
        Empatía: Escuchamos y entendemos las necesidades de cada cliente.
        Compromiso: Acompañamos a nuestros clientes para alcanzar sus metas.
        Estos valores son la base de nuestro trabajo y el motor de nuestro éxito compartido.
    </p>
  </BentoItem>
</section>
